

  <p>Choose search by:
    <select name="user_selection">
      <option value="title">Title</option>
      <option value="actors">Name</option>
    </select>
    <form name="input" action="movie_query" method="get">
      <input type="text" name="title">
      <input type="submit" value="search">
    </form>

  </p>


<%= image_tag @body['urlPoster'], alt:'poster', class: 'img' %>

<h1 class="serif">
    <%= link_to "#{@body['title']}  (#{@body['year']})", @body['urlIMBD'] %> </h1>



  <p><%= @body['plot'] %> </p>
  <p id="p01">Runtime: <b><%= @body['runtime']%></b></p>
  <ul style="list-style-type:none">
    <li> <p> Rated: <%= @body['rated'] %> </p> </li>
    <li> <p> Rating: <%= @body['rating']%></p> </li>
    <li> <p> releaseDate: <%= @body['releaseDate']%></p> </li>
