
<p> <%= @body['urlPoster'] %></p>

<h1>
  <a href="http://www.myapifilms.com/imdb?title"> <%= @body['title'] %> (<%= @body['year'] %>) </a>
</h1>
<body>
<p><%= @body['plot'] %> </p>
<p><b><%= @body['runtime']%></b></p>

</body>
